.divs{
    border: solid;
    width: 20%;
    height: 20%;
    float: left;
    margin-right: 40px;
    margin-bottom: 40px;

}
hr{
    margin-bottom: 30px;
}
#products{
    margin-right: -3%;
    margin-left: 5%;
}
#new{
    width: 85px;
    height: 30px;
    margin-left: 5px;
}
#apply{
    width: 85px;
    height: 30px;
    margin-left: 5px;
}
#delete{
    height: 30px;
}
.firstDiv{
    margin-top: 15px;    
    width: 20px;
}
