#header{
    display: flex;
    width: 100%;
    margin-left:5%;
    height: 60px;

}
body{
    font-family: Comic Sans Ms;
}
#butt,#add{ 

    width: 100%;
    margin-right: 10%;

}
#butt{
    padding-top: 30px;

}

#save{
    width: 85px;
    height: 30px;
}
#back{
    width: 85px;
    height: 30px;
    margin-left: 5px;
}
hr{
    width: 90%;
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
#prod{
    margin-top: 30px;
}
#main{
    margin-left: 5%;
}
.product{
    width:55px;
    display:inline-block;
    font-weight: bolder;
}

#switcher{
    width:100px;
    margin-left:20px;
    margin-top: 0px;
    font-size: 13pt;
}
.shadow-lg{
    -webkit-box-shadow: 3px 3px 1px -1px black;
    box-shadow: 3px 3px 1px -1px black;
    background-color: white;

}
.shadow-lg:hover{
    border: solid green;
    -webkit-box-shadow: 3px 3px 1px -1px green;
    box-shadow: 3px 3px 1px -1px green;

}


